
      body {
        margin: 25px;
        font-size: 17px;
      }
      h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      input {
        font-size: 15px;
        outline: 0;
        margin-top: 5px;
        padding: 0px;
        width: 350px;
        outline: 0;
        margin-top: 5px;
      }
      label {
        display: block;
       margin-bottom: 20px;
      }
  textarea {
  resize: none;
  width: 350px;
  height: 150px;
  }
  button:hover {
    background-color: rgb(97, 168, 226);
  }
  button {
    width: 100px;
    height: 30px;

  }